<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>


<body>
<header>
    <img src="/logo.png" alt="">
    <%- include('./partials/navbar'); %>
</header>
<main class="aboutMeMain" style="background-color: white">
    <section class="aboutSec" >
        <div class="aboutSecImg" style="background-color: white">
            <%- include('./partials/photo'); %>
        </div>
        <div class="aboutSecText" style="background-color: white; color: darkcyan" >
            <h1>My name is Aisultan</h1>
            <h2>I am a 19 year old student at Centennial College. My country of origin is Kazakhstan. I like playing videogames, watching anime and reading books. Aspiring to become a software engineer in the future. </h2>
        </div>


    </section>
</main>
<%- include('./partials/footer'); %>


</body>
</html>