<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <header>
        <img src="/logo.png" alt="">
        <%- include('./partials/navbar'); %>
    </header>
    <main class="homeMain">
        <section class="welcomeSec">
            <div class="circular--landscape"> <img src="/aisSmile4.jpg" alt=""> </div>
            <h1>Welcome to my Website!</h1>
            <h2>Want to know more about me?</h2>
            <a href="/features"><%- include('./partials/juicyButton'); %></a>


        </section>
    </main>
    <%- include('./partials/footer'); %>
</body>
</html>