<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>


<body>
<header>
    <img src="/logo.png" alt="">
    <%- include('./partials/navbar'); %>
</header>
<main class="projectsMain">
    <section class="projectsSec" >
        <div class="aboutSecText" style="height: 40%">
            <%- include('./partials/projects'); %>
        </div>
        <div class="projectImages">
            <img class="site1Img" src="/site1.png" alt="">
            <img class="site2Img" src="/site2.png" alt="">
        </div>
        <img class="site3Img" src="/site3.jpg" alt="">
    </section>
</main>
<%- include('./partials/footer'); %>
<script src="https://unpkg.com/vue@next"></script>
<script src="./app.js" ></script>
</body>
</html>