<section style="height: 500px" class="checkListSec">
    <div class="checkListDiv">
        <h1>My projects</h1>
        <ul class="check-list">
            <li>Image Carousel (Jquery)</li>
            <li>Personal Portfolio</li>
            <li>Online Movie Theatre</li>
        </ul>
    </div>
</section>